
<div class="grid-component">

    <button mat-icon-button>
        <mat-icon class="icon" (click)="drawer.toggle()" [ngStyle]="{'color':'white'}">menu</mat-icon>
    </button>
    
    <mat-drawer-container class="pannel">

        
        <mat-drawer #drawer mode="side" opened class="sidenav">
            <div class="grid-container">
                <img routerLink="" class="logo" src="/assets/logo.png">
                <button mat-flat-button >Profil</button>

                <button mat-flat-button (click)="openDialogProjectCreate()"> Nouveau Projet </button>
                <button mat-flat-button *ngFor="let project of projets$| async"> {{project.Name}} </button>

                <mat-form-field appearance="fill">
                <mat-label>Vos Projet</mat-label>

                <select matNativeControl required [(ngModel)]="selectedProjectId">
                    <option >New Project</option>
                    <option *ngFor="let projet of projets$ | async" [ngValue]="projet.IdProjects"> {{projet.Name}} </option>
                </select>


                </mat-form-field>

                <button mat-flat-button >Groupes</button>
                <button mat-flat-button routerLink="/functionality/user-file">Fichiers</button>
            </div>
        </mat-drawer>

        

        <mat-drawer-content class="contentPage">
            <p> Projet selectioné: {{ selectedProjectId }} </p>
            <button mat-button class="parameter-button" [matMenuTriggerFor]="menuProjet" *ngIf="selectedProjectId">Paramètres Projets</button>
            <mat-menu #menuProjet="matMenu">
            <button mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Details Projet</span>
            </button>
            <button mat-menu-item (click)="openDialogAdd()">
                <mat-icon>add</mat-icon>
                <span>Ajouter un membre</span> <!--Ouverture d'une poppup avec formulaire + Envoie invitation-->
            </button>
            <button mat-menu-item (click)="openDialogRemove()">
                <mat-icon>remove</mat-icon>
                <span>Exclure un membre</span> <!--Requete get des membres du projet dans ouverture de poppup-->
            </button>
            </mat-menu>

            <button (click)="onGetMembersProjectButton()"> Afficher membres du projet selectionné dans la console </button>
            

            
            <app-user-file></app-user-file>
        </mat-drawer-content>

        
    </mat-drawer-container>
</div>

