
/*.pannel {
    grid-area: sideNav;
    background-color: blue;

}
.contentPage {
    grid-area: contentPage;
    border:1px dotted black;
}



.grid-component {
    display: grid;
    height: 100%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "pannel contentPage contentPage contentPage"
    ;
    
}*/