.header {
    grid-area: header;
    background-color: azure;
}
.sideNav {
    grid-area: sideNav;
    background-color: blue;
}
.contentPage {
    grid-area: contentPage;
    border:1px dotted black;
}



.grid-component {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "sideNav contentPage contentPage contentPage"
    ;
}