<div class="grid-component">
    
    <h1>Page Personnelle</h1>  
    <h2> Basic Info </h2>
    <table *ngIf="userInfo$ | async as userInfo">
        <tr>
          <td class="basicinfo">Photo</td>
          <td class="basicinfo">2</td>
          <td class="basicinfo"><img src={{userInfo.url}} width="50px" height="50px"/></td>
        </tr>
        <tr>
            <td class="basicinfo">Name</td>
            <td class="basicinfo"> {{userInfo.name}} </td>
        </tr>   
        <tr>
            <td class="basicinfo">Birthday</td>
            <td class="basicinfo">2000.9.17</td>
        </tr>
        <tr>
            <td class="basicinfo">Gender</td>
            <td class="basicinfo">Male</td>
        </tr>
        <tr>
            <td class="basicinfo">Email</td>
            <td class="basicinfo">zhenglinjiang@126.com</td>
        </tr>
        <tr>
            <td class="basicinfo">Phone</td>
            <td class="basicinfo">0642904124</td>
        </tr>
    </table>
    <h2> My Team </h2>
    <table mat-table [dataSource]="teamData" >
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Titre </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Deadline </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    
</div>
