<div class="grid-component">
    
    <h1>Page Personnelle</h1>


    <h2> Nom:Jiang -----    Prenom:Zhenglin-----    Age:21 </h2>    


    <h2> Nom:Teys-----     Prenom:Louis -----   Age:21 </h2> 
    
    <h2> Nom:Mansour -----    Prenom:Yanni-----    Age:20 </h2>
    
    <h2> Nom:Dinh -----    Prenom:Tony -----   Age:20 </h2>
    
    <h2> Nom:Jerbi -----    Prenom:Ghassen-----    Age:20 </h2>
    
    <h2> Nom:Lee -----    Prenom:Chanbin-----     Age:20 </h2> 
    <p>text<p>

    <table width="960px" border="1" align="left" >
        <tr>
            <th>Header 1</th>
            <th>Header 2</th>
        </tr>
        <tr>
            <td>row 1, cell 1</td>
            <td>row 1, cell 2</td>
        </tr>
        <tr>
            <td>row 2, cell 1</td>
            <td>row 2, cell 2</td>
        </tr>
    </table>
    <img src="/assets/logo.png"  alt="Page" />
</div>
