.logo {
    grid-area: logo;
    width: 50px;
}
.helps {
    grid-area: helps;
}
.contact {
    grid-area: contact;
}
.sign {
    grid-area: sign;
}
.functionality {
    grid-area: functionality;
}

.grid-component {
    display: grid;
    grid-template-areas: 
    "logo none functionality functionality helps contact sign";
    height: 50px;
    margin-bottom: 5%;

}