<div class="grid-component">
    <img routerLink="" class="logo" src="/assets/logo.png">
    <button mat-button class="functionality" routerLink="/functionality">Partage de fichiers</button>
    

    <button mat-button class="sign" routerLink="/signIn" *ngIf="!_auth.loggedIn()">Connexion</button>
    <button mat-button class="sign" [matMenuTriggerFor]="menuc" *ngIf="_auth.loggedIn()">Profil</button>

    <mat-menu #menuc="matMenu">
    <button routerLink="/profile"  mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Paramètres</span>
    </button>
    <button mat-menu-item (click)="_auth.logoutUser()" routerLink="/signIn" *ngIf="_auth.loggedIn()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Déconnexion</span>
    </button>
    </mat-menu>
</div>
