h1 {
    text-align: center;
}
h3 {
    color: white;
}
p {
    font-size: large;
}


.mat-icon {
    position: absolute;
    right: 2.5%;
}

.feature {
    grid-area: feature;
}

.grid-column {
    grid-template-columns: auto;
}


.grid-component {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-areas: 'feature';
}