


    <div class="mainContainer">
      <div class="content">
          <div class="header">
              <h1>Angular File Upload</h1>
          </div>
          <div class="row margin25">
    
              <div class="col-md-4">
    
              </div>
              <div class="col-md-4">
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text upload" (click)="upload()" id="btnUpload">Upload</span>
                      </div>
                      <div class="custom-file">
                          <form action="/api/upload" method="post" enctype="multipart/form-data">
                              <input (change)="fileChange($event)"  type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                          </form>
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
    
              </div>
          </div>
      </div>
    </div>
    <mat-list role="list" >
        <div mat-subheader>Shared Files</div>
        <!--<mat-list-item role="listitem" *ngFor="let file of sharedFiles |async">
            <button mat-raised-button color="primary">Modifier</button>
            <button mat-raised-button color="warn" (click)="delete(file.IdFile);" id={{file.IdFile}}>Supprimer</button> 
            <mat-icon mat-list-icon style="color: rgb(164, 157, 20);">note</mat-icon>
            <div mat-line style="color: rgb(255, 255, 255);"> {{file.Name}}</div>
            <div mat-line style="color: rgb(98, 98, 114);"> {{file.DateLastModif | date:'medium'}}</div>
        </mat-list-item>-->
        <mat-selection-list #files>
            <mat-action-list>
                <button  mat-raised-button color="primary" (click)="show(files.selectedOptions.selected);"> Modifier </button>
                <button mat-raised-button color="warn" (click)="delete(files.selectedOptions.selected);"> Supprimer </button>
            </mat-action-list>
            <mat-list-option *ngFor="let file of sharedFiles |async" [value]="file" >
                <mat-icon mat-list-icon style="color: rgb(164, 157, 20);">note</mat-icon>
                <div mat-line style="color: rgb(255, 255, 255);"> {{file.name}}</div>
                <div mat-line style="color: rgb(98, 98, 114);"> {{file.path}}</div>            
            </mat-list-option>
        </mat-selection-list>
        <p>
            Options selected: {{files.selectedOptions.selected.length}}
        </p>
    </mat-list>


<!--
<mat-form-field appearance="fill">
    <mat-label>Nom du fichier à créer</mat-label>
    <input [(ngModel)]="FileData.filename" name="filename" matInput placeholder="filename">
    <input [(ngModel)]="FileData.type" name="type" matInput placeholder="type">
</mat-form-field>

-->

