
<div class="page">

    <div class="mainContainer">
      <div class="content">
          <div class="header">
              <h4 style="color: rgb(67, 109, 234);" class="up">Upload un fichier :</h4>
          </div>
          <div class="row margin25">
    
              <div class="col-md-4">
    
              </div>
              <div class="col-md-4">
                  <div class="input-group">
                    
                      <div class="test">
                    </div>
                      <div class="custom-file">
                          <form action="/api/upload" method="post" enctype="multipart/form-data">
                              <input (change)="fileChange($event)" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                              <input type="submit" mat-raised-button color="primary" class="input-group-text upload" (click)="upload()" (click)="refresh()" (click)="alertUpload()" id="btnUpload"  value="Upload"/>

                          </form>
                          <div class="input-group-prepend">
                        </div>
                      </div>
                      
                  </div>
              </div>
              <div class="col-md-4">
    
              </div>
          </div>
      </div>
    </div>

   
    <mat-action-list>
        <button mat-raised-button color="warn" (click)="delete(files.selectedOptions.selected);" style="float: right; margin-top: 1%; margin-right: 1%;"> Supprimer </button>
    </mat-action-list>
    <div class="listeFichiers">  
    <mat-list role="list" style="border: 2px solid #006100; border-radius: 10px;" >
        <div mat-subheader>Fichiers partagés :</div>
        <!--<mat-list-item role="listitem" *ngFor="let file of sharedFiles |async">
            <button mat-raised-button color="primary">Modifier</button>
            <button mat-raised-button color="warn" (click)="delete(file.IdFile);" id={{file.IdFile}}>Supprimer</button> 
            <mat-icon mat-list-icon style="color: rgb(164, 157, 20);">note</mat-icon>
            <div mat-line style="color: rgb(255, 255, 255);"> {{file.Name}}</div>
            
            
        </mat-list-item>-->

   
        <mat-selection-list #files>
            <mat-list-option *ngFor="let file of sharedFiles" [value]="file">
                <mat-icon mat-list-icon style="color: rgb(164, 157, 20);">note</mat-icon>
                <div mat-line style="color: rgb(63, 159, 214);"> {{file.name}}</div>
                <div mat-line style="color: rgb(0, 0, 0);"> {{file.DateLastModif | date:'medium'}}</div>
                <a (click)="func(file.name)">
                    <div mat-line style="color: rgb(98, 98, 114);"> <mat-icon>save_alt</mat-icon> </div> 
                </a>
                           
            </mat-list-option>
        </mat-selection-list>
        <p>
            Files selected: {{files.selectedOptions.selected.length}}
        </p>
  
    </mat-list>
</div>



<!--
<mat-form-field appearance="fill">
    <mat-label>Nom du fichier à créer</mat-label>
    <input [(ngModel)]="FileData.filename" name="filename" matInput placeholder="filename">
    <input [(ngModel)]="FileData.type" name="type" matInput placeholder="type">
</mat-form-field>

-->

</div>