/*
.explications {
    border: 2px #14274e;
    background-color: #f1f6f9;
    padding: 20px;
    margin: 0px;
    width: 900px;
    height: 400px;
    background-image: linear-gradient(180deg, #f1f6f9, #9ba4b4 50%, #14274e);
    font-family: 'Trebuchet MS', sans-serif;
    color: #142036;
}

h2 {
    font-size: 40px;
    text-transform: capitalize;
}

p {
    font-size: 20px;
}

.realisations {
    background-color: #f1f6f9;
    padding: 20px;
    margin: 0px;
    width: 1800px;
    height: 400px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

h3 {
    font-size: 40px;
    text-align: center;
}
*/

.explications {
    grid-area: explications;
    background-color: #f1f6f9;
    background-image: linear-gradient(180deg, #f1f6f9, #9ba4b4 50%, #14274e);
    font-family: 'Trebuchet MS', sans-serif;
}

.realisations {
    grid-area: realisations;
    background-color: #f1f6f9;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'explications none none'
    'realisations realisations realisations';
}
