.grid-container{
    display: grid;
    grid-template-areas:
        'ssp images'
        'realisations realisations'
        'fin auteurs';
}

.item1{ 
    grid-area: ssp;
}

.item2{
    grid-area: images;
    background-color: #f1f6f9;
}

.item3{
    grid-area: realisations;
    background-color: #f1f6f9;
}

.item4{
    grid-area: fin;
    background-color: #394867;
}

.item5{
    grid-area: auteurs;
    background-color: #f1f6f9;
}










/*
.explications {
    border: 2px #14274e;
    background-color: #f1f6f9;
    padding: 20px;
    margin: 0px;
    width: 900px;
    height: 400px;
    background-image: linear-gradient(180deg, #f1f6f9, #9ba4b4 50%, #14274e);
    font-family: 'Trebuchet MS', sans-serif;
    color: #142036;
}

h2 {
    font-size: 40px;
    text-transform: capitalize;
}

p {
    font-size: 20px;
}

.realisations {
    background-color: #f1f6f9;
    padding: 20px;
    margin: 0px;
    width: 1800px;
    height: 400px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

h3 {
    font-size: 40px;
    text-align: center;
}
*/
