<div class="grid-container">
    
    <div class="explications">
        <h2>Stockez, synchronisez, partagez</h2>
        <p>... pour un accès sécurisé à tous vos fichiers, en collaboration avec amis, famille, collègues.</p>
    </div>
    
    <div class="realisations">
        <h3>Réalisez plus de tâches avec vos fichiers</h3>
        <span class="material-icons">published_with_changes</span>
        <span class="material-icons">person_add</span>
        <span class="material-icons">verified_user</span>
        <span class="material-icons">groups</span>
    </div>
</div>


